﻿@model FrontEnd.API.Models.Matricula

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idmatricula" />
            <div class="form-group">
                <label asp-for="Idcurso" class="control-label"></label>
                <select asp-for="Idcurso" class="form-control" asp-items="ViewBag.Idcurso"></select>
                <span asp-validation-for="Idcurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idusuario" class="control-label"></label>
                <select asp-for="Idusuario" class="form-control" asp-items="ViewBag.Idusuario"></select>
                <span asp-validation-for="Idusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
