﻿@model FrontEnd.Models.Matricula

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idcurso" class="control-label"></label>
                <select asp-for="IdcursoNavigation.Nombre" class="form-control" asp-items="ViewBag.Idcurso">
                   
                 
                    
                    </select>
            </div>
            <div class="form-group">
                <label asp-for="Idusuario" class="control-label"></label>
                <select asp-for="Idusuario" class ="form-control" asp-items="ViewBag.Idusuario"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
