﻿@model FrontEnd.Models.Matricula

@{
    ViewData["Title"] = "Delete";
}


<h3>Seguro que deseas eliminar la matricula?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Curso
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcursoNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdusuarioNavigation.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idmatricula" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
