﻿@model FrontEnd.Models.Matricula

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Curso
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcursoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdusuarioNavigation.Nombre)

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idmatricula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
