﻿@model IEnumerable<FrontEnd.Models.Matricula>

@{
    ViewData["Title"] = "Matricula";
}

<h1>Matriculas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Curso
            </th>
            <th>
               Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdcursoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idmatricula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idmatricula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idmatricula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
