﻿@model IEnumerable<FrontEnd.Models.Cursos>

@{
    ViewData["Title"] = "Index";
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcurso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idcurso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcurso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
